{cover_enabled, true}.

{erl_opts, [
  debug_info,
  warnings_as_errors
]}.

{deps, [
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "0.8.6"}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "v1.4.1"}},
  {fast_key, ".*", {git, "https://github.com/CamShaft/fast_key.git"}},
  {simple_env, ".*", {git, "https://github.com/CamShaft/simple_env.git"}},
  {presenterl, ".*", {git, "https://github.com/CamShaft/presenterl.git"}},
  {cowboy_base, ".*", {git, "https://github.com/CamShaft/cowboy-base.git"}},
  {cowboy_empty_favicon, ".*", {git, "https://github.com/CamShaft/cowboy_empty_favicon.git"}},
  {riakc, ".*", {git, "https://github.com/basho/riak-erlang-client.git", "3749c83ffe896d055465aff342f5708b9cbb34fb"}},
  {riakou, ".*", {git, "https://github.com/CamShaft/riakou.git"}},
  {sync, ".*", {git, "https://github.com/rustyio/sync.git", "master"}}
]}.
